@import "tailwindcss";

/* :root html{
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings:  normal;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
} */
